In [12]:
import pandas as pd
import numpy as np

# 取小数部分和整数部分
# 内存利用率
# remainder,randArr =  np.modf(np.random.uniform(55,95, (10, 20)))
# edge server之间的通信时延  这是上行时延, *1.6 约为通信时延
randArr,remainder, =  np.modf(np.random.uniform(0.03,0.2, (10, 20)))
# 负载 假设CPU核数为16 理想状态为16* 0.7
# remainder,randArr =  np.modf(np.random.normal(12, 6, (10, 20)))
# 停留时间
# remainder,randArr =  np.modf(np.random.normal(20,10, (10, 20)))

# randArr = np.abs(randArr)
randArr

array([[89., 66., 88., 74., 87., 84., 66., 86., 60., 55., 70., 74., 76.,
        66., 85., 79., 79., 78., 79., 72.],
       [58., 73., 83., 81., 86., 72., 74., 56., 55., 80., 73., 65., 87.,
        56., 70., 93., 79., 72., 66., 69.],
       [86., 77., 83., 80., 94., 91., 77., 55., 86., 72., 85., 87., 82.,
        60., 68., 60., 75., 81., 83., 79.],
       [75., 85., 63., 70., 85., 82., 63., 60., 88., 94., 89., 58., 62.,
        70., 79., 77., 65., 84., 65., 92.],
       [73., 61., 56., 93., 60., 72., 85., 65., 58., 76., 71., 93., 56.,
        92., 79., 56., 94., 74., 74., 82.],
       [75., 71., 69., 93., 69., 80., 80., 88., 86., 82., 66., 63., 63.,
        67., 86., 82., 75., 80., 90., 68.],
       [57., 79., 89., 90., 84., 71., 67., 93., 62., 60., 84., 59., 68.,
        79., 76., 63., 92., 58., 58., 82.],
       [58., 59., 64., 71., 82., 75., 88., 64., 82., 55., 93., 55., 72.,
        70., 87., 74., 58., 65., 83., 85.],
       [89., 94., 73., 61., 73., 55., 60., 76., 64., 76., 72., 85., 73.,
        76., 76., 87., 70., 87., 64., 64.],
       [67., 67., 79., 75., 59., 91., 81., 92., 93., 88., 62., 74., 71.,
        68., 77., 72., 91., 56., 56., 67.]])

In [13]:
# 二维列表转为DF
df = pd.DataFrame(randArr)
# df = pd.DataFrame(randArr*1.6)
# df = pd.DataFrame(randArr).round(2)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,89.0,66.0,88.0,74.0,87.0,84.0,66.0,86.0,60.0,55.0,70.0,74.0,76.0,66.0,85.0,79.0,79.0,78.0,79.0,72.0
1,58.0,73.0,83.0,81.0,86.0,72.0,74.0,56.0,55.0,80.0,73.0,65.0,87.0,56.0,70.0,93.0,79.0,72.0,66.0,69.0
2,86.0,77.0,83.0,80.0,94.0,91.0,77.0,55.0,86.0,72.0,85.0,87.0,82.0,60.0,68.0,60.0,75.0,81.0,83.0,79.0
3,75.0,85.0,63.0,70.0,85.0,82.0,63.0,60.0,88.0,94.0,89.0,58.0,62.0,70.0,79.0,77.0,65.0,84.0,65.0,92.0
4,73.0,61.0,56.0,93.0,60.0,72.0,85.0,65.0,58.0,76.0,71.0,93.0,56.0,92.0,79.0,56.0,94.0,74.0,74.0,82.0
5,75.0,71.0,69.0,93.0,69.0,80.0,80.0,88.0,86.0,82.0,66.0,63.0,63.0,67.0,86.0,82.0,75.0,80.0,90.0,68.0
6,57.0,79.0,89.0,90.0,84.0,71.0,67.0,93.0,62.0,60.0,84.0,59.0,68.0,79.0,76.0,63.0,92.0,58.0,58.0,82.0
7,58.0,59.0,64.0,71.0,82.0,75.0,88.0,64.0,82.0,55.0,93.0,55.0,72.0,70.0,87.0,74.0,58.0,65.0,83.0,85.0
8,89.0,94.0,73.0,61.0,73.0,55.0,60.0,76.0,64.0,76.0,72.0,85.0,73.0,76.0,76.0,87.0,70.0,87.0,64.0,64.0
9,67.0,67.0,79.0,75.0,59.0,91.0,81.0,92.0,93.0,88.0,62.0,74.0,71.0,68.0,77.0,72.0,91.0,56.0,56.0,67.0

In [14]:
# 设置df 的index 和 column
index = pd.Series(np.arange(0,10))
index = index.astype(str)
index = 'T'+index

column = pd.Series(np.arange(0,20))
column = column.astype(str)
column = 'memory'+column

df.index = index
df.columns = column

df

,memory0,memory1,memory2,memory3,memory4,memory5,memory6,memory7,memory8,memory9,memory10,memory11,memory12,memory13,memory14,memory15,memory16,memory17,memory18,memory19
T0,89.0,66.0,88.0,74.0,87.0,84.0,66.0,86.0,60.0,55.0,70.0,74.0,76.0,66.0,85.0,79.0,79.0,78.0,79.0,72.0
T1,58.0,73.0,83.0,81.0,86.0,72.0,74.0,56.0,55.0,80.0,73.0,65.0,87.0,56.0,70.0,93.0,79.0,72.0,66.0,69.0
T2,86.0,77.0,83.0,80.0,94.0,91.0,77.0,55.0,86.0,72.0,85.0,87.0,82.0,60.0,68.0,60.0,75.0,81.0,83.0,79.0
T3,75.0,85.0,63.0,70.0,85.0,82.0,63.0,60.0,88.0,94.0,89.0,58.0,62.0,70.0,79.0,77.0,65.0,84.0,65.0,92.0
T4,73.0,61.0,56.0,93.0,60.0,72.0,85.0,65.0,58.0,76.0,71.0,93.0,56.0,92.0,79.0,56.0,94.0,74.0,74.0,82.0
T5,75.0,71.0,69.0,93.0,69.0,80.0,80.0,88.0,86.0,82.0,66.0,63.0,63.0,67.0,86.0,82.0,75.0,80.0,90.0,68.0
T6,57.0,79.0,89.0,90.0,84.0,71.0,67.0,93.0,62.0,60.0,84.0,59.0,68.0,79.0,76.0,63.0,92.0,58.0,58.0,82.0
T7,58.0,59.0,64.0,71.0,82.0,75.0,88.0,64.0,82.0,55.0,93.0,55.0,72.0,70.0,87.0,74.0,58.0,65.0,83.0,85.0
T8,89.0,94.0,73.0,61.0,73.0,55.0,60.0,76.0,64.0,76.0,72.0,85.0,73.0,76.0,76.0,87.0,70.0,87.0,64.0,64.0
T9,67.0,67.0,79.0,75.0,59.0,91.0,81.0,92.0,93.0,88.0,62.0,74.0,71.0,68.0,77.0,72.0,91.0,56.0,56.0,67.0

In [15]:
# 将DataFrame导出为 CSV
# df.to_csv('memory.csv')
df.to_csv('delay.csv')
# df.to_csv('load.csv')
# df.to_csv('sojournTime.csv')